@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.contenedorGeneradorContraseñas {
	width: 45%;
    margin: 90px 0px 97px 415px;
}

label {
	line-height: 40px;
}

input {
	text-align: center;
	border: none;
}


@media only screen and (max-width: 1200px) {
    .contenedorGeneradorContraseñas {
		margin: 90px 0px 97px 330px;
	}
}

@media only screen and (max-width: 1000px) {
    .contenedorGeneradorContraseñas {
		margin: 90px 0px 97px 230px;
	}
}

@media only screen and (max-width: 730px) {
    .contenedorGeneradorContraseñas {
		width: 60%;
		margin: 90px 0px 97px 100px;
	}
}

@media only screen and (max-width: 546px) {
    .contenedorGeneradorContraseñas {
		width: 80%;
		margin: 90px 0px 97px 50px;
	}
}  

@media only screen and (max-width: 410px) {
    .contenedorGeneradorContraseñas {
		width: 90%;
		margin: 90px 0px 97px 20px;
	}
}  

@media only screen and (max-width: 365px) {
    .contenedorGeneradorContraseñas {
		width: 95%;
		margin: 90px 0px 97px 10px;
	}
} 

@media only screen and (max-width: 345px) {
    .contenedorGeneradorContraseñas {
		width: 100%;
		margin: 90px 0px 97px 0px;
	}
}