@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.contenedorApp {
	height: 97vh;
	width: 100vw;
}

.contenedorGeneradorContraseñas {
	display: flex;
    align-items: center;
    flex-direction: column;
	height: 76vh;
}

label {
	line-height: 40px;
	text-align: center;
	color: #fff;
	font-size: 26px;
	letter-spacing: 3px;
}

input {
	text-align: center;
	border: none;
}

.numeroGenerado {
	line-height: 40px;
    background: #277d3c;
	padding: 0px 40px;
	border-radius: 4px;
	color: #fff;
	cursor: default;
}

.contenedorInputCopy {
	position: relative;
}

.botonCopiar {
	position: absolute;
    background: #277d3c;
    border-radius: 5px;
    padding: 3.6px;
    right: -50px;
    top: 0px;
}

.botonCopiar:hover {
	background: #2eab4d;
}

.botonCopiar svg {
	color: #fff;
    cursor: pointer;
    width: 30px;
    height: 30px;
}